.new-parcel {
  min-height: 100vh;

  font-family: "Montserrat", sans-serif;
  z-index: 9999999;
  background: var(--secondary-color-light);
}

.header {
  display: grid;
  grid-template-columns: 30px 1fr;
}

.content {
  width: 100%;
  transition: all 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.back {
  border: none;
  background: transparent;
  border: none;
  filter: invert(100%);
  display: inline-block;
  position: relative;
}
.back img {
  height: 1.2em;
  width: 1.2em;
}

.close {
  border: none;
  background: transparent;
  border: none;
  filter: invert(100%);
  display: inline-block;
}

.close img {
  height: 1.2em;
  width: 1.2em;
}

form {
  width: calc(100%);
}

.caption {
  text-align: left;
  padding: 1em;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--ternary-color);
  width: (100%);
}

.caption h2 {
  font-size: 30px;
  margin: 0;
  padding: 0;
  font-weight: 900;
  text-align: center;
  color: white;
}

.form-content {
  /* padding: 2rem 0.5rem; */
}

.popular-types {
  margin: 0;
  position: relative;
}

.big-input {
  height: 80px !important;
  width: calc(100%);
  font-size: 32px !important;
  text-align: center;
  text-transform: uppercase;
  border-radius: 0 !important;
  background-color: white !important;
}

.big-input:focus {
  outline: 2px solid var(--ternary-color);
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100%);
}

.navigation .btn {
  font-size: 20px;
}

.btn {
  vertical-align: top;
  background-color: black;
  border: none;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 900;
  color: white;

  font-size: 40px;

  text-shadow: 1px 1px 2px black;

  width: 100%;
  filter: sepia(10%);
  min-height: 80px;
  padding: 0.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.small {
  width: 33% !important;
}

.location-option {
  vertical-align: top;
  background: transparent !important;
  border: none;
  font-weight: 900;
  color: white;

  font-size: 40px;

  width: 100%;
  filter: sepia(10%);
  padding: 0 0.5rem;
  background-color: transparent;
  display: flex;
  margin-top: 0px;
  border: none;
  min-height: 45px;
}

/* .location-option div {
  display: grid;
  grid-template-columns: 90px 1fr fit-content(100%);
  gap: 1rem;
  align-items: center;
  align-content: center;
  width: calc(100%);
  color: white;

  text-shadow: none;
  text-align: left;
} */

.location-option div img {
  filter: invert(1005);
}

.suburb-caption {
  font-weight: 400;
  font-size: 12px;
  color: var(--ternary-color);
  text-transform: uppercase;
}

.name-caption {
  font-weight: 400;
  font-size: 10px;
  text-transform: uppercase;
}

.name-caption span {
  font-weight: 500;
  font-size: 18px;
}
